:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --border-radius-background-image: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  min-height: 100vh;
  background-color: white;
}

.main-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* nav */

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: white;
}

.navigation-header .left-side,
.navigation-header .cta-container {
  display: flex;
  align-items: center;
}

.navigation-header .left-side {
  gap: 15px;
}

.navigation-header .cta-container {
  gap: 25px;
}

.navigation-header .left-side .logo {
  width: 110px;
}

.navigation-header .cta-container .avatar {
  width: 30px;
}

.navigation-header nav {
  display: none;
  position: absolute;
  z-index: 95;
  background-color: white;
  min-width: 250px;
  width: 30%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 30px 0 0 30px;
}

.navigation-header nav.visible {
  display: block;
}

.navigation-header nav.visible ~ .nav-backdrop {
  display: block;
}

.navigation-header nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navigation-header nav .close-icon {
  margin-bottom: 25px;
  cursor: pointer;
}

.navigation-header nav ul li {
  list-style-type: none;
}

.navigation-header nav ul li a {
  color: var(--very-dark-blue);
  text-decoration: none;
  font-weight: bolder;
}

.navigation-header .nav-backdrop {
  display: none;
  position: absolute;
  z-index: 94;
  height: 100vh;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

/*product image*/

.product-image-container {
  display: flex;
  align-items: center;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.product-image-container .main-product-image {
  background-image: url("./assets/image-product-1.jpg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 9/7;
  width: 100%;
  min-width: 350px;
  max-height: 450px;
}

.product-image-container .arrows-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.product-image-container .arrows-container button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  padding: 0;
}

.product-image-container .arrows-container button img {
  scale: 0.8;
}

.product-image-container .arrows-container .arrow-previous {
  padding-right: 3px;
}
.product-image-container .arrows-container .arrow-next {
  padding-left: 3px;
}

.product-image-container .thumbnail-container {
  display: none;
}

.product-image-container .thumbnail-container div {
  width: 25%;
  aspect-ratio: 6/5;
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius-background-image);
}

.product-image-container .thumbnail-container div.active {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid var(--orange);
  background-blend-mode: overlay;
}

.product-image-container .thumbnail-container .thumbnail-1 {
  background-image: url("./assets//image-product-1-thumbnail.jpg");
}

.product-image-container .thumbnail-container .thumbnail-2 {
  background-image: url("./assets//image-product-2-thumbnail.jpg");
}

.product-image-container .thumbnail-container .thumbnail-3 {
  background-image: url("./assets//image-product-3-thumbnail.jpg");
}

.product-image-container .thumbnail-container .thumbnail-4 {
  background-image: url("./assets//image-product-4-thumbnail.jpg");
}

@media only screen and (min-width: 768px) {
  /* nav */
  .navigation-header .nav-backdrop {
    display: none !important;
  }
  .navigation-header {
    border-bottom: 1px solid var(--grayish-blue);
    gap: 25px;
  }
  .navigation-header nav {
    display: block;
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    align-self: flex-start;
    flex-grow: 1;
  }

  .navigation-header nav ul {
    flex-direction: row;
  }

  .navigation-header nav ul li a {
    font-weight: lighter;
    color: var(--dark-grayish-blue);
  }

  .navigation-header nav .close-icon {
    display: none;
  }

  .navigation-header .left-side .menu {
    display: none;
  }

  /* main section */
  main {
    max-width: 900px;
    margin: auto;
    margin-top: 55px;
  }

  /*product image*/
  .product-image-container {
    width: 90%;
    flex-direction: column;
  }

  .product-image-container .main-product-image {
    border-radius: var(--border-radius-background-image);
  }

  .product-image-container .arrows-container button {
    display: none;
  }
  .product-image-container .thumbnail-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 25px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  /* main section */
  main {
    display: flex;
    max-width: unset;
    margin: auto;
    margin-top: 55px;
    padding: 25px;
  }
}
